In [1]:
import pandas as pd
import numpy as np

In [2]:
iris = pd.read_csv('iris.csv')
iris.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
#X = iris.drop(columns= "Unnamed: 0")
y = iris.Species
y.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: Species, dtype: object

In [5]:
x = iris.drop(columns = ['Species','Unnamed: 0'])
x.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [6]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.5, random_state=123, stratify = y )

In [7]:
X_train.head()

    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
98           5.1          2.5           3.0          1.1
59           5.2          2.7           3.9          1.4
78           6.0          2.9           4.5          1.5
11           4.8          3.4           1.6          0.2
40           5.0          3.5           1.3          0.3

In [8]:
def eculedian(x,y):
    ecu = np.sqrt(np.sum((x-y)**2))
    return ecu

In [9]:
#X_test.values

In [10]:
def min_eucledian(test,train):
   
    index = []
    x = []
    for i in test.values:
        ecu = []
        for j in train.values:
            ecu.append(eculedian(i,j))
        x.append(min(ecu))
        index.append(ecu.index(min(ecu)))
    return(x,index)

In [11]:
op = min_eucledian(X_test,X_train)

In [12]:
X_test['Eculedian'] = op[0]

C:\Users\SKR\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
X_test['Index'] = op[1]

C:\Users\SKR\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
X_test.index[21]

115

In [15]:
predicted = []
for i in X_test.Index:
    predicted.append(y_train.values[i])
predicted

['setosa',
 'virginica',
 'versicolor',
 'setosa',
 'virginica',
 'setosa',
 'versicolor',
 'virginica',
 'setosa',
 'setosa',
 'virginica',
 'versicolor',
 'virginica',
 'setosa',
 'versicolor',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'versicolor',
 'virginica',
 'versicolor',
 'versicolor',
 'virginica',
 'virginica',
 'setosa',
 'setosa',
 'versicolor',
 'setosa',
 'setosa',
 'virginica',
 'setosa',
 'versicolor',
 'setosa',
 'setosa',
 'versicolor',
 'versicolor',
 'virginica',
 'virginica',
 'setosa',
 'versicolor',
 'setosa',
 'versicolor',
 'virginica',
 'virginica',
 'setosa',
 'versicolor',
 'versicolor',
 'versicolor',
 'setosa',
 'versicolor',
 'versicolor',
 'virginica',
 'virginica',
 'setosa',
 'setosa',
 'versicolor',
 'versicolor',
 'setosa',
 'versicolor',
 'versicolor',
 'setosa',
 'virginica',
 'setosa',
 'virginica',
 'versicolor',
 'versicolor',
 'virginica',
 'setosa',
 'virginica',
 'versicolor',
 'setosa',
 'setosa',
 'versicolor']

In [16]:
X_test['predicted'] = predicted

C:\Users\SKR\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
X_test.head()

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Eculedian,Index,predicted
14,5.8,4.0,1.2,0.2,0.547723,38,setosa
104,6.5,3.0,5.8,2.2,0.300000,15,virginica
75,6.6,3.0,4.4,1.4,0.244949,31,versicolor
3,4.6,3.1,1.5,0.2,0.141421,50,setosa
120,6.9,3.2,5.7,2.3,0.264575,64,virginica

In [20]:
def min_eucledian_knn(test,train):
   
    index = []
    x = []
    for i in test.values:
        ecu = []
        for j in train.values:
            ecu.append(eculedian(i,j))
        x.append((ecu))
        index.append(ecu.index(min(ecu)))
    return(x,index)