In [1]:
#Importing the required Libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Loading lastfm.csv
radio = pd.read_csv("lastfm.csv")
radio.head()

   user                   artist sex  country
0     1    red hot chili peppers   f  Germany
1     1  the black dahlia murder   f  Germany
2     1                goldfrapp   f  Germany
3     1         dropkick murphys   f  Germany
4     1                 le tigre   f  Germany

In [3]:
# Checking the dimensions of dataframe 
radio.shape

(289955, 4)

In [ ]:
# Creating Association rules mining using mlxtend package

In [5]:
# creating a new columns of ones 
radio['value'] = np.ones(radio.shape[0],dtype=int)
radio = radio.loc[:,['user','artist','value']].copy()

In [6]:
# Droping the duplicate entries 
radio = radio.drop_duplicates(subset='user', keep='first')
radio = radio.reset_index().drop_duplicates(subset='index',keep='first').set_index('index')

In [7]:
# creating a Association DataFrame from Pandas DataFrame using pivot 
transformed_radio = radio.pivot(index='user', columns='artist')['value'].reset_index()
transformed_radio.columns.name = None

In [8]:
transformed_radio.head()

,user,...and you will know us by the trail of dead,2pac,3 doors down,30 seconds to mars,311,36 crazyfists,44,50 cent,65daysofstatic,...,wilco,within temptation,wolfgang amadeus mozart,wu-tang clan,yann tiersen,yeah yeah yeahs,yellowcard,yo la tengo,zero 7,Édith piaf
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Replacing the NaN values with zeros for ease computation
transformed_radio.fillna(0, inplace = True)
transformed_radio.head()

,user,...and you will know us by the trail of dead,2pac,3 doors down,30 seconds to mars,311,36 crazyfists,44,50 cent,65daysofstatic,...,wilco,within temptation,wolfgang amadeus mozart,wu-tang clan,yann tiersen,yeah yeah yeahs,yellowcard,yo la tengo,zero 7,Édith piaf
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# Dropping the column user from the Association Data Frame As it is not needed for Computing Association parameter values
transformed_radio = transformed_radio.drop(columns = 'user')
#from mlxtend.frequent_patterns import apriori

#sets = apriori(transformed_radio, min_support=0.1)

In [ ]:
# mlxtend package requires high performance machine for computing large Datasets so we go with Apyori package

In [11]:
# Importing apriori function from apyori package 
from apyori import apriori

In [15]:
# reading the original dataset 
radio1 = pd.read_csv("lastfm.csv")
radio1.head()

   user                   artist sex  country
0     1    red hot chili peppers   f  Germany
1     1  the black dahlia murder   f  Germany
2     1                goldfrapp   f  Germany
3     1         dropkick murphys   f  Germany
4     1                 le tigre   f  Germany

In [16]:
# Finding the unique values in the Data Frame 
radio1.nunique()

user       15000
artist      1004
sex            2
country      159
dtype: int64

In [19]:
# Apyori package requires the transaction details as list. So let us first group the artists names for every user
transformed_df1 = radio1[['user','artist']].groupby('user').aggregate(lambda x: x.unique().tolist()).reset_index()
transformed_df1.head()

   user                                             artist
0     1  [red hot chili peppers, the black dahlia murde...
1     3  [devendra banhart, boards of canada, cocorosie...
2     4  [tv on the radio, tool, kyuss, dj shadow, air,...
3     5  [dream theater, ac/dc, metallica, iron maiden,...
4     6  [lily allen, kanye west, sigur rós, pink floyd...

In [20]:
# converting the Artists Name from DataFrame to list
artist_list = transformed_df1.artist.tolist()
artist_list[1:3]

[['devendra banhart',
  'boards of canada',
  'cocorosie',
  'aphex twin',
  'animal collective',
  'atmosphere',
  'joanna newsom',
  'air',
  'portishead',
  'massive attack',
  'broken social scene',
  'arcade fire',
  'plaid',
  'prefuse 73',
  'm83',
  'the flashbulb',
  'pavement',
  'goldfrapp',
  'amon tobin',
  'sage francis',
  'four tet',
  'max richter',
  'autechre',
  'radiohead',
  'neutral milk hotel',
  'beastie boys',
  'aesop rock',
  'mf doom',
  'the books'],
 ['tv on the radio',
  'tool',
  'kyuss',
  'dj shadow',
  'air',
  'a tribe called quest',
  'the cinematic orchestra',
  'beck',
  'bon iver',
  'röyksopp',
  'bonobo',
  'the decemberists',
  'snow patrol',
  'battles',
  'the prodigy',
  'pink floyd',
  'rjd2',
  'the flaming lips',
  'michael jackson',
  'mgmt',
  'the rolling stones',
  'late of the pier',
  'flight of the conchords',
  'simian mobile disco',
  'muse',
  'fleetwood mac',
  'led zeppelin']]

In [23]:
# Creating a Association rule using support = 0.01 and confidence = 0.5
association_rules1 = apriori(artist_list, min_support=0.01,min_confidence=0.5)
association_rules1 = list(association_rules1)
association_rules1[1]

RelationRecord(items=frozenset({'blur', 'radiohead'}), support=0.017533333333333335, ordered_statistics=[OrderedStatistic(items_base=frozenset({'blur'}), items_add=frozenset({'radiohead'}), confidence=0.5228628230616302, lift=2.900496429705789)])

In [27]:
# Checking the format of association output to retrive the values and store it as dataframe for further computation and ease of calculation 
association_rules1[1][2]

[OrderedStatistic(items_base=frozenset({'blur'}), items_add=frozenset({'radiohead'}), confidence=0.5228628230616302, lift=2.900496429705789)]

In [30]:
# function to store the calculated support, confidence, lift as a DataFrame
def association_DataFrame(rules):
        
    output = []

    for i in rules:

        ordered_statistics = i[2]

        for j in ordered_statistics:
            row = []

            row.append(list(j[0]))
            row.append(list(j[1]))
            row.append(round(i[1],4))
            row.append(round(j[2],4))
            row.append(round(j[3],4))

            output.append(row)

    return pd.DataFrame(output,columns=['LHS','RHS','Support','Confidence','Lift'])

In [31]:
association_DataFrame(association_rules1)

,LHS,RHS,Support,Confidence,Lift
0,[beck],[radiohead],0.0293,0.5093,2.8252
1,[blur],[radiohead],0.0175,0.5229,2.9005
2,[broken social scene],[radiohead],0.0151,0.5472,3.0356
3,[keane],[coldplay],0.0223,0.6374,4.0206
4,[snow patrol],[coldplay],0.0265,0.5251,3.3124
5,[the fray],[coldplay],0.0113,0.5168,3.2600
6,[travis],[coldplay],0.0137,0.5628,3.5503
7,[judas priest],[iron maiden],0.0135,0.5075,8.5630
8,[t.i.],[kanye west],0.0104,0.5673,8.8544
9,[megadeth],[metallica],0.0163,0.5281,4.7438
10,[sonata arctica],[nightwish],0.0135,0.5101,8.2363
11,[the flaming lips],[radiohead],0.0131,0.5297,2.9386
12,[the pussycat dolls],[rihanna],0.0104,0.5778,13.4159
13,[simon & garfunkel],[the beatles],0.0154,0.5238,2.9450
14,[the kinks],[the beatles],0.0136,0.5299,2.9790
15,"[beck, the beatles]",[radiohead],0.0130,0.5909,3.2780
16,"[bloc party, the killers]",[coldplay],0.0111,0.5237,3.3031
17,"[bob dylan, pink floyd]",[the beatles],0.0103,0.6151,3.4581
18,"[bob dylan, radiohead]",[the beatles],0.0139,0.5730,3.2215
19,"[bob dylan, the rolling stones]",[the beatles],0.0115,0.5911,3.3231
20,"[death cab for cutie, the killers]",[coldplay],0.0109,0.5884,3.7118
21,"[the killers, muse]",[coldplay],0.0151,0.5090,3.2105
22,"[oasis, radiohead]",[coldplay],0.0127,0.5877,3.7071
23,"[the beatles, oasis]",[coldplay],0.0106,0.5196,3.2776
24,"[oasis, the killers]",[coldplay],0.0111,0.6627,4.1802
25,"[coldplay, sigur rós]",[radiohead],0.0121,0.5801,3.2182
26,"[snow patrol, radiohead]",[coldplay],0.0101,0.6345,4.0020
27,"[the killers, radiohead]",[coldplay],0.0151,0.5244,3.3076
28,"[coldplay, the smashing pumpkins]",[radiohead],0.0109,0.6284,3.4857
29,"[u2, radiohead]",[coldplay],0.0114,0.5213,3.2885
30,"[red hot chili peppers, the killers]",[coldplay],0.0109,0.5094,3.2130
31,"[snow patrol, the killers]",[coldplay],0.0104,0.5954,3.7558
32,"[the beatles, the killers]",[coldplay],0.0125,0.5341,3.3690
33,"[david bowie, pink floyd]",[the beatles],0.0101,0.5741,3.2279
34,"[david bowie, radiohead]",[the beatles],0.0139,0.5225,2.9376
35,"[david bowie, the rolling stones]",[the beatles],0.0100,0.5703,3.2066
36,"[death cab for cutie, the beatles]",[radiohead],0.0125,0.5013,2.7811
37,"[the shins, death cab for cutie]",[radiohead],0.0101,0.5033,2.7922
38,"[led zeppelin, the doors]",[pink floyd],0.0107,0.5970,5.6895
39,"[the doors, pink floyd]",[led zeppelin],0.0107,0.5387,6.8020
40,"[led zeppelin, radiohead]",[the beatles],0.0131,0.5283,2.9702
41,"[led zeppelin, the rolling stones]",[the beatles],0.0107,0.5776,3.2475
42,"[placebo, radiohead]",[muse],0.0137,0.5138,4.5042
43,"[the beatles, muse]",[radiohead],0.0138,0.5074,2.8145
44,"[the doors, pink floyd]",[the beatles],0.0100,0.5051,2.8395
45,"[sigur rós, the beatles]",[radiohead],0.0105,0.6434,3.5694
46,"[the rolling stones, radiohead]",[the beatles],0.0106,0.5638,3.1700
47,"[the shins, the beatles]",[radiohead],0.0107,0.5674,3.1474
48,"[the smashing pumpkins, the beatles]",[radiohead],0.0115,0.6209,3.4446
49,"[the strokes, the beatles]",[radiohead],0.0105,0.5607,3.1105

In [39]:
# Rule-2 with min_support = 0.015 and min_confidence = 0.5 and for three artist combinaation 
association_rules2 = apriori(artist_list, min_support=0.015,min_confidence=0.5,min_length = 3)
association_rules2 = list(association_rules2)

In [36]:
association_rules2[1]

RelationRecord(items=frozenset({'coldplay', 'keane'}), support=0.022266666666666667, ordered_statistics=[OrderedStatistic(items_base=frozenset({'keane'}), items_add=frozenset({'coldplay'}), confidence=0.6374045801526719, lift=4.020634441669503)])

In [40]:
# sorting the values of rules based on descending order of Lift value 
association_DataFrame(association_rules2).sort_values('Lift',ascending=False).reset_index(drop=True)

                        LHS            RHS  Support  Confidence    Lift
0                [megadeth]    [metallica]   0.0163      0.5281  4.7438
1                   [keane]     [coldplay]   0.0223      0.6374  4.0206
2             [snow patrol]     [coldplay]   0.0265      0.5251  3.3124
3  [the killers, radiohead]     [coldplay]   0.0151      0.5244  3.3076
4       [the killers, muse]     [coldplay]   0.0151      0.5090  3.2105
5     [broken social scene]    [radiohead]   0.0151      0.5472  3.0356
6       [simon & garfunkel]  [the beatles]   0.0154      0.5238  2.9450
7                    [blur]    [radiohead]   0.0175      0.5229  2.9005
8                    [beck]    [radiohead]   0.0293      0.5093  2.8252

# Only 8 rules has satisfied the above condition. So the radio station can play the above combinations of musics during the peak hour to maintain High RAM ratings

In [37]:
# Printing the values of suppport and confidence for each rule in the Association algorithm
for item in association_rules2:

    # first index of the inner list
    # Contains base item and add item
    pair = item[0] 
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])

    #second index of the inner list
    print("Support: " + str(item[1]))

    #third index of the list located at 0th
    #of the third index of the inner list

    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

Rule: beck -> radiohead
Support: 0.029266666666666667
Confidence: 0.5092807424593968
Lift: 2.8251520476667724
=====================================
Rule: coldplay -> keane
Support: 0.022266666666666667
Confidence: 0.6374045801526719
Lift: 4.020634441669503
=====================================
Rule: coldplay -> snow patrol
Support: 0.026466666666666666
Confidence: 0.5251322751322751
Lift: 3.312440759875579
=====================================